.caja1{
	background: #FFBC09;
	width: 1357px;
	height: 150px;
	float: 
}
    .caja2{
	background: #09B1FF;
	width: 1500px;
	height: 500px;
	float: 
}
     .caja3{
	background: #FFBC09;
	width: 450px;
	height: 280px;
	float: 
}
    .caja4{
	background: #09B1FF;
	width: 1500px;
	height: 150px;
	float: 
}
     .caja5{
	background: #FFBC09;
	width: 350px;
	height: 300px;
	float: 
}
    .caja6{
	background: #09B1FF;
	width: 1500px;
	height: 200px;
	float: 
}
  .caja7{
	background: #FFBC09;
	width: 375px;
	height: 305px;
	float: 
}
    .caja8{
	background: #09B1FF;
	width: 1500px;
	height: 200px;
	float: 
}
 .caja9{
	background: #FFBC09;
	width: 500px;
	height: 320px;
	float: 
}
    .caja10{
	background: #09B1FF;
	width: 1500px;
	height: 200px;
	float: 
}
h1{
	font-family: courier;
}

